body{
	font-family: 'Myriad Pro';
}
header {
  height:54px;
}
nav{
  display:inline-block;
  float:left;
}
nav .menu-tag{
  display:none;
}
li{
  display:inline-block;
  margin-right: 25px;
  font-size:22px;
  text-transform: uppercase;
  color:#3C58A7;
  line-height:54px;
}
li a {
  text-decoration: none;
  color:#3C58A7;
}
li a.active-menu{
  color:#DBD8D7;
}
.social-icons{
  display:inline-block;
  line-height: 54px;
  float: right;
  font-family: 'FontAwesome';
}
.social-icons a{
  text-decoration:none;
  font-size:22px;
  color:#3C58A7;
  padding-right: 30px;
}
.social-icons a:nth-of-type(4){
	padding-right: 0px;
}
.wrap-banner{
  margin-top: 30px;
  margin-bottom:30px;
  position:relative;
}
.logo{
  width:200px;
  position:absolute;
  top:30px;
  left:30px;
}
#logo{
  width:100px;
  position:absolute;
  top:30px;
  left:30px;
}
#logo:hover{
transform: rotate(180deg);
}
#technews{
  width:100px;
    position:absolute;
    top:130px;
    left:30px;
}
.center-layout{
  width:965px;
  margin-left: auto;
  margin-right: auto;
}
#banner{
  background-color:#DBD8D7;
  padding:1px;
}
h2{
  display:inline-block;
}
.news{
  width:230px;
  height:200px;
  display:inline-block;
  margin-right:15px;
  background-color:#DBD8D7;
}
.news:nth-of-type(4){
  margin-right: 0px;
}
.news h1{
  padding-left:14px;
  font-size: 18px;
  line-height: 40px;
}
.section-heading{
  height:50px;
  line-height:50px;
}
.section-heading a{
  text-decoration: none;
  color:black;
}
.calendar{
  width:50px;
  height:50px;
  line-height: 25px;
  display: inline-block;
  background-color: #363D98;
  color:white;
  text-align: center;
}
.date{
	margin-top:5%;
	font-size:20px;
	height:45%;
}
.month-name{
	font-size:12px;
	height:45%;
	margin-bottom: 5%
}
.article-header{
  font-size: 24px;
  line-height: 50px;
  height:50px;
  margin-bottom:15px;
}
.article-header h1{
  display:inline-block;
  width:900px;
  padding-left: 15px;
  float: right;
}
.video{
  padding-top: 24px;
  padding-bottom: 24px;
}
.wrap-video{
  background-color:#363D98;
}
.video-youtube{
  width:475px;
  height:224px;
  display:inline-block;
  margin-right: 15px;
}
.video-youtube:nth-of-type(2){
  margin-right: 0px;
}
.featured{
  width:475px;
  height:160px;
  display:inline-block;
  background-color:#DBD8D7;
  margin-right:15px;
}
.featured:nth-of-type(2){
  margin-right:0px;
}
.featured img, .featured-text{
  width:230px;
  height:160px;
  display:inline-block;
  vertical-align: top;
}
.featured-text{
  text-align: justify;
}
.featured h1{
  padding-left:15px;
  padding-top:15px;
  font-size: 18px;
}
.featured p{
  padding-left:15px;
  padding-right:10px;
  font-size: 12px;
  margin-top: 26px;
  height:55px;
  overflow:hidden;
  width: 180px;
}
.read-more {
  font-size: 12px;
  margin-top: 20px;
  float:right;
}
footer{
  background-color:#DBD8D7; 
  margin-top:50px;
  height:54px;
  line-height: 54px;
  color:#3C58A7;
  font-size: 12px;
}
.copyright{
  text-align: left;
  display:inline-block;
}
.created-by{
  text-align: right;
  float:right;
  display:inline-block;
}
.article-img{
  width:400px;
  display: inline-block;
  vertical-align: top;
  margin-right:15px;
}
article p{
  text-align: justify;
  width:550px;
  display: inline-block;
}
.social-share{
  height:40px;
  margin-top:20px;
  background-color:#DBD8D7;
  line-height: 40px;
  vertical-align: middle;
}
.social-share > img{
  display:inline-block;
  height:25px;
  width:70px;
  vertical-align: middle;
  padding-left: 15px;
}
.contact-container{
  background-color: #363D98;
  color: white;
}
.address, .contact-form{
  display:inline-block;
  vertical-align: top;
}
.address{
  width:180px;
  padding-top:30px;
  padding-left: 30px;
}
address p {
  margin-bottom: 15px;
}
.contact-form{
  width:673px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right:30px;
}
label, input, textarea{
  display:block;
  width:100%;
  background-color: #363D98;
  border-radius: 7px;
}
input, textarea{
  border: 1px solid white;
}
label{
  margin-left:15px;
  margin-top:10px;
  margin-bottom:5px;
}
label:nth-of-type(1){
  margin-top: 0px;
}
input{
  height:30px;
}
textarea{
  height:60px;
}
button{
  display: block;
  background-color: #EF4136;
  border: 0px;
  width: 120px;
  height: 30px;
  color: white;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 30px;
  border-radius:5px;
}